*{
  margin:0;
  padding:0;
}
.slider{
  overflow: hidden;
  width:100%;
  position:realitive;

&>ul{
  height:auto;
  overflow:hidden;
  left:0;transition
  position:realitive;
  transition:left 1s;
}
.slider-item{
	display: inline-block;
	height:auto;
	&>img{
		display:block;
		width:100%;
		height:auto;
	}
}
.slider-arrow{
	display:inline-block;
	color:#fff;
	font-size:50px;
	position:absolute;
	top:50%;
	margin-top:-50px;
	z-index:100;
	padding:20px;
	cursor:pointer;
	font-weight:bold;
	&:hover{
		background-color: #b0f566;
	}
	&.slider-arrow-right{
		right:0;
	}
	&.slider-arrow-left{
		left:0;
	}
}
.slider-dot-warp{
	z-index:99;
	text-align:center;
	width:100%;
	position:absolute;
	bottom:0;
	.slider-dot {
	  display:inline-block;
	  width:6px;
	  height:6px;
	  border:3px solid #ffffff;
	  margin:6px;
	  cursor:pointer;
	  border-radius:20px;
	  &:hover{
	  	border:3px solid #868668;
	  }
	  &.slider-dot-selected{
	  	background:#ccc;
	  }

	}
}